<%- include ('partials/header.ejs');%>
<body>
    <%- include ('partials/navbar.ejs')%>
    <div class="container">
        <h1>Threads em aberto</h1>
        <a href="/thread">
            <button class="btn btn-secondary">Criar nova thread</button>
        </a>
        <br>
        <% threads.forEach(thread => {%>
            <br>
            <div class="card">
                <div class="card-header">
                    <h3><%= thread.title %></h3>
                </div>
                <div class="card-body">
                    <a href="/thread/<%= thread.id %>">
                        <button class="btn btn-secondary">Detalhes</button>
                    </a>
                </div>
            </div>
        <%})%>
    </div>
</body>
<%- include ('partials/footer.ejs');%>