<%- include ('partials/header.ejs');%>
<body>
    <%- include ('partials/navbar.ejs')%>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1><%= thread.title %></h1>
                <h3>by: <%= thread.author %></h3>
                <h6>postado em: <%= thread.createdAt %></h6>
            </div>
            <div class="card-body">
                <h3><%= thread.description %></h3>
            </div>
            
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <h4>Responda à essa Thread</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/reply/save">
                    <label for="">Autor</label>
                    <input type="text" class="form-control" placeholder="Quem está respondendo" name="author" required>
                    <label for="">Resposta</label>
                    <textarea class="form-control" id="" cols="30" rows="10" placeholder="Resposta à Thread" name="reply" required></textarea>
                    <input type="hidden" name="threadId" value="<%= thread.id %>" name="threadId">
                    <br>
                    <button class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <br>
        <h3>Respostas</h3>
        <hr>
        <% replies.forEach(reply => {%>
            <div class="card">
                <div class="card-header">
                    <h4>By : <%= reply.author%></h4>
                    <h7><%= reply.createdAt %></h7>
                </div>
                <div class="card-body">
                    <h3><%= reply.body %></h3>
                </div>
            </div>
            <br>
        <%}) %>
        
    </div>
</body>
<%- include ('partials/footer.ejs');%>